body {
    font-family: "Epilogue";
}



main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    width: 45%;
    /* background-color: blue; */
    display: flex;
    padding-left: 100px;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 20px 0;
    /*  background-color: red; */
}

.content-map {
    /* max-height: 600px; */
    width: 50%;
    height: auto;
}

.content-form {
    padding: 0 0 0 40px;
    width: 35%;
    /*  background-color: green; */
}

.content-form-nameFields {
    display: flex;
    width: 100%;
}

.content-form-mailNumber {
    display: flex;
}

.content-form-field {
    padding: 20px 20px 0 0;
}

::placeholder {
    color: #808080;
    font-weight: 600;
    padding-left: 1px;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    border-radius: 8px;
    border: none;
    background-color: #ecf5f6;
    resize: none;
    margin-top: 10px;
    padding-left: 5px;
}

textarea::placeholder {
    font-weight: 100;
}

.input {
    height: 45px;
    width: 100%;
    border-radius: 8px;
    border: none;
    background-color: #ecf5f6;
    font-weight: bold;
    padding-left: 5px;
    margin-bottom: 10px;
}

button {
    height: 45px;
    width: 300px;
    border-radius: 8px;
    border: none;
    background-color: rgb(210, 31, 31);
    color: white;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    padding: 0;
    cursor: pointer;
}



input[type="submit"] {
    cursor: pointer;
}

.socials-thumb {
    width: auto;
    height: 30px;
    top: 9px;
    position: relative;
}

.socials-header p {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.socials-header {
    display: flex;
    justify-content: center;
}

.socials-header>p {
    font-size: 18px;
    font-weight: 600;
}

.socials-icons {
    display: flex;
    justify-content: center;
    padding: 10px 0 50px 0;
}

.socials-icons img {
    padding: 0 5px;
}

.img-icone {
    height: 50px;
    width: 50px;
}

.logo_linkedin {
    height: 57px;
    width: 57px;
    position: relative;
    bottom: 3px;
}

.profile {
    height: 45px;
    width: 100%;
    border-radius: 8px;
    border: none;
    background-color: #ecf5f6;
    color: #808080;
    padding: 5px;
}

.subject {
    margin: 0;
    box-sizing: border-box;
}

.inputleft {
    margin-right: 5px;
}

.inputright {
    margin-left: 5px;
}

#frmContact input,
#frmContact select,
#frmContact textarea {
    border: 1px solid #007DCC;
}

@media screen and (max-width: 1180px) {
    p {
        font-size: 10px;
    }

    .input {
        font-size: 10px;
    }

    #profile {
        height: 30px;
    }

    textarea {
        width: 100%;
        height: 100px;
    }

    textarea::placeholder {
        font-size: 10px;
    }

    button {
        font-size: 10px;
        height: 30px;
        width: 200px;
    }

    .input {
        height: 30px;
        width: 100%;
    }

    .content-form-field {
        padding: 10px 10px 0 0;
    }

    .content-map {
        width: 50%;
        height: auto;
    }

    .content {
        display: flex;
        justify-content: center;
        width: 70%;
        padding: 20px 0;
        /* background-color: red; */
    }

    .content-form {
        padding: 0 0 0 40px;
        width: 42%;
        /* background-color: green; */
    }

    .description {
        width: 50%;
        /* background-color: lightblue; */
        display: flex;
        justify-content: center;
        padding-left: 80px;
    }

    .img-icone {
        height: 40px;
        width: 40px;
    }

    .socials-thumb {
        width: auto;
        height: 25px;
        bottom: 2px;
        position: relative;
    }

}

@media screen and (max-width: 766px) {
    .description {
        width: 100%;
        padding: 0;
    }

    .description p {
        width: 80%;
    }

    .content-map {
        display: none;
    }

    .content-form {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    #frmContact {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-right: 0;
        padding-Left: 0;
    }

    .content-form-field {
        width: 50%;
        padding-right: 0;
        padding-Left: 0;
    }

    .input {
        width: 100%;
        padding-right: 0;
        padding-Left: 0;
    }

    .input::placeholder {
        padding-left: 10px;
    }

    .profile {
        width: 100% !important;
        padding-right: 0;
        padding-Left: 10px;
    }


    #message {
        width: 100%;
        padding-right: 0;
        padding-Left: 0;
    }

    #fName {
        width: 95%;
    }

    #mail {
        width: 95%;
    }

    .content-form-field {
        width: 100%;
    }
}

@media screen and (max-width: 390px) {
    main .content .content-map {
        display: none;
    }

    .description {
        font-size: 10px;
        width: 100%;
        /* background-color: lightblue; */
        display: flex;
        justify-content: center;
    }

    .content {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0px 0 20px;
        /* background-color: rgb(237, 123, 245); */
    }

    .content-form {
        padding: 0 0 0 40px;
        width: 100%;
        /* background-color: rgba(2, 125, 204, 0.9); */
        border-radius: 8px;
        display: flex;
        justify-content: center;
    }

    .content-form-nameFields {
        display: flex;
        flex-direction: column;
    }

    .content-form-mailNumber {
        display: flex;
        flex-direction: column;
    }

    .socials-thumb {
        display: none;
    }

    .socials-icons {
        display: flex;
        justify-content: center;
        padding: 0px 0 15px 0;
    }
}