body {
    font-family: "Epilogue";
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    width: 50%;
    /* background-color: blue; */
    display: flex;
    padding-left: 100px;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 20px 0;
   /*  background-color: red; */
}

.content-map {
    /* max-height: 600px; */
    width: 50%;
    height: auto;
}

.question {
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.content-form {
    padding: 0 0 0 40px;
    width: 50%;
   /*  background-color: green; */
}

.content-form-nameFields {
    display: flex;
}

.content-form-mailNumber {
    display: flex;
}

.content-form-field {
    padding: 20px 20px 0 0;
}

::placeholder {
    color: #808080;
    font-weight: 600;
    padding-left: 1px;
}

textarea {
    border-radius: 8px;
    border: none;
    background-color: #ecf5f6;
    resize: none;
    margin-top: 5px;
}

textarea::placeholder {
    font-weight: 100;
}

.input {
    height: 45px;
    width: 250px;
    border-radius: 8px;
    border: none;
    background-color: #ecf5f6;
    font-weight: bold;
    padding-left: 5px;
}

button {
    height: 45px;
    width: 300px;
    border-radius: 8px;
    border: none;
    background-color: rgb(210, 31, 31);
    color: white;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    padding: 0;
    cursor: pointer;
}

input[type="submit"] {
    cursor: pointer;
}

.socials-thumb {
    width: auto;
    height: 30px;
    bottom: 2px;
    position: relative;
}

.socials-header p {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.socials-header {
    display: flex;
    justify-content: center;
}

.socials-header > p {
    font-size: 18px;
    font-weight: 600;
}

.socials-icons {
    display: flex;
    justify-content: center;
    padding: 10px 0 50px 0;
}

.socials-icons img {
    padding: 0 5px;
}

.img-icone {
    height: 50px;
    width: 50px;
}

.profile {
    height: 45px;
    width: 254px;
    border-radius: 8px;
    border: none;
    background-color: #ecf5f6;
    font-weight: 600;
    color: #808080;
    padding : 5px;
}

@media screen and (max-width: 1180px){
    p {
        font-size: 10px;
    }

    p.question {
        font-size: 16px;
    }

    .input {
        font-size: 10px;
    }

    #profile {
        font-size: 10px;
        height: 30px;
        width: 157px;
    }

    textarea {
        width: 250px;
        height: 100px;
    }

    textarea::placeholder {
        font-size: 10px;
    }

    button {
        font-size: 10px;
        height: 30px;
        width: 200px;
    }
    .input {
        height: 30px;
        width: 150px;
    }
    .content-form-field {
        padding: 10px 10px 0 0;
    }
    .content-map {
        width: 50%;
        height: auto;
    }
    .content {
        display: flex;
        justify-content: center;
        width: 70%;
        padding: 20px 0;
        /* background-color: red; */
    }
    .content-form {
        padding: 0 0 0 40px;
        width: 42%;
        /* background-color: green; */
    }
    .description {
        width: 50%;
        /* background-color: lightblue; */
        display: flex;
        justify-content: center;
        padding-left: 80px;
    }
    .img-icone {
        height: 40px;
        width: 40px;
    }
    .socials-thumb {
        width: auto;
        height: 25px;
        bottom: 2px;
        position: relative;
    }
}

@media screen and (max-width: 844){
    .content-map {
        display: none;
    }
    p {
        font-size: 10px;
        width: 100%;
    }
}