@media screen and (max-width: 1180px) {    
    .container_arrows{
        display: none !important;
    }
    .container_banner_button {
        height: 40px !important;
        width: 50% !important;
    }
    .container_cards_actuality{
        display: flex !important;
        flex-direction: column !important
    }
    .actuality_card{ 
       width: 99% !important;
       margin-bottom: 20px !important

    }
    .actuality_card img {
        max-height: 300px;
    }
}

@media screen and (max-width: 850px) {
    .container_lightbox_and_text {
        height: 200px !important;
    }
    .container_lightbox {
        display:none !important;
    }
    .container_details {
        width: 100% !important;
        display: flex !important;
        flex-direction: row !important;
    }
    .details_button {
        height: 40px !important;
    }
    .container_banner_button {
        width: 100% !important;
        height: 30px !important;
     }
}

@media screen and (max-width: 550px) {
    .actuality_card img {
        max-height: 200px;
    }
}