body {
    margin: 0;
    height: auto;
    font-family: 'Work Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Epilogue', sans-serif;
}

@keyframes velomobile {
    0% {
        transform: scaleX(1)
    }

    29% {
        left: 85%;
        transform: scaleX(1)
    }

    30% {
        transform: scaleX(-1)
    }

    59% {
        left: 10%;
        transform: scaleX(-1)
    }

    60% {
        left: 10%;
        transform: scaleX(1)
    }

    100% {}
}

@keyframes velomobile {
    0% {
        transform: scaleX(1)
    }

    29% {
        left: 85%;
        transform: scaleX(1)
    }

    30% {
        transform: scaleX(-1)
    }

    59% {
        left: 10%;
        transform: scaleX(-1)
    }

    60% {
        left: 10%;
        transform: scaleX(1)
    }

    100% {}
}

@media (max-width: 1180px) {
    body {
        margin: 0;
        height: auto;
        font-family: 'Work Sans', sans-serif;
    }
    
    h1 {
        font-size: 14px;
    }
    h2 {
        font-size: 12px;
    }
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Epilogue', sans-serif;
    }
    p {
        font-size: 10px;
    }
    .title {
        font-size: 14px !important;
    }

    .footer {
        height: 160px !important;
        align-items: flex-start !important;
    }
    .logo {
        display: none !important;
    }

    .footer-pages {
        display: none !important;
    }

    .salesAndSocialDiv {
        box-sizing: border-box;
        padding-left: 10px !important;
        width: 50%;
    }
    .salePointsTitle {
        margin-bottom: 5px !important;
    }

    .contactDiv {
        width: 50%;
        padding: 0 10px;
    }

    .contactForm {
        width: 100%;
        box-sizing: border-box;
        padding: 0 10px;
        width: 50%;
    }

    .nameDiv {
        margin: 10px 0 0 0 !important;
        margin-bottom: 0px !important;
    }

    .input-footer {
        font-size: 12px;
        margin-bottom: 5px !important;
    }

    .firstName {
        margin-right: 5px !important;
    }
    .img {
        width: 30px;
    }
    hr {
        width : 90% !important;
    }
    .follow-us {
        margin-top: 10px !important;
    }
    .gif {
        width: 50px;
    }
    .nav {
        font-size: 12px !important;
        justify-content: space-around !important;
        width: 90% !important;
        margin-bottom: 30px !important; 
    }
    .headLogo {
        width: 100px;
    }
    .flag-color{
        height: 5px !important;
    } 

    .contactButton {
        width: 130px !important;
        height: 20px !important;
        font-size: 12px !important;
        line-height: 20px !important;
    }
    .border {
        height: 10px !important; 
    }
    header {
        height: 240px !important;
    }
    .filter {
        height: 240px !important;
    }
    .head-title {
        font-size: 18px !important;
    }
    .accueil {
        margin-right: 10px;
    }
}

@media (min-width: 600px) and (max-width: 1180px) {
    
    .logo {
        display: flex !important;
        width: 20%;
    }
    .salesAndSocialDiv {
        width: 33%;
    }
    .contactForm {
        width: 33%;
    }
    header {
        height: 230px !important;
    }
    .filter {
        height: 230px !important;
    }
}